html,body {
	position: relative;
	width: 120%;
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666666;
}

.testing-plane {
	position: absolute;
}

.col {
	float: left;
	margin: 10px 40px 40px;
	width: 475px;
}

.col > h2 {
	margin-left: 10px;
}

.region {
	position: relative;
	display: block;

	background-color: transparent;
	border: 1px solid transparent;

	height: 600px;
}

.region .actions {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	display: block;
	opacity: 0;
}

.region .actions-backdrop {
	height: 18px;
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	top: -19px;
	position: absolute;
	width: 100%;
	right: -1px;
}

.region .actions-items {
	position: absolute;
	top: -16px;
	width: 100%;
	left: 6px;
}

.region .actions-items > span {
	margin-right: 5px;
	cursor: pointer;
}

.block {
	position: relative;
	padding: 5px;
}

.content {
	position: relative;
	padding: 5px;
	border: 1px solid transparent;
}

.content .actions {
	position: absolute;
	right: 0;
	top: 3px;
	width: 64px;
	opacity: 0;
	display: block;
}

.content .actions > span {
	margin-right: 5px;
	cursor: pointer;
}

.region-pad {
	margin-left: -25px;
	margin-top: -25px;
	padding: 25px;
}

/*REGION ONE*/

.region-one.region:hover {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
}

.region-one.region:hover > .actions {
	opacity: 1;
}

.region-one .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-one .content:hover .actions {
	opacity: 1;
}

/*REGION ONE*/

.region-pad:hover .region-two.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
}

.region-pad:hover .region-two.region > .actions {
	opacity: 1;
}

/*
.region-two .block:hover .content {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-two .block:hover .content .actions {
	display:block;
}
*/

.region-two .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-two .content:hover .actions {
	opacity: 1;
}

/*REGION THREE*/

.region-pad .region-three.region {
	transition: 0s;
}

.region-pad:hover .region-three.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	transition-delay: 100ms;
}

.region-pad .region-three.region > .actions {
	transition: 0s;
}

.region-pad:hover .region-three.region > .actions {
	opacity: 1;
	transition-delay: 100ms;
}

.region-three .content {
	transition: 0s;
}

.region-three .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
	transition-delay: 100ms;
}

.region-three .content .actions {
	transition: 0s;
}

.region-three .content:hover .actions {
	opacity: 1;
	transition-delay: 100ms;
}
