html,body {
	position: relative;
	width: 3000px;
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666666;
}

.testing-plane {
	position: absolute;
}

.col {
	float: left;
	margin: 10px 40px 40px;
	width: 475px;
}

.col > h2 {
	margin-left: 10px;
}

.region {
	position: relative;
	display: block;

	background-color: transparent;
	border: 1px solid transparent;

	height: 600px;
}

.region .actions {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	display: block;
	opacity: 0;
}

.region .actions-backdrop {
	height: 18px;
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	top: -19px;
	position: absolute;
	width: 100%;
	right: -1px;
}

.region .actions-items {
	position: absolute;
	top: -14px;
	width: 100%;
	left: 8px;
}

.region .actions-items > span {
	margin-right: 8px;
	cursor: pointer;
	float: left;
}

.region .actions-items > span.icon-pencil > i {
	background-image:url("img/pencil.png");
	display: block;
	width: 12px;
	height: 12px;
}

.region .actions-items > span.icon-floppy > i {
	background-image:url("img/floppy.png");
	display: block;
	width: 14px;
	height: 14px;
}

.region .actions-items > span.icon-trash > i {
	background-image:url("img/trash.png");
	display: block;
	width: 13px;
	height: 14px;
}

.region .actions-items > span.icon-pencil:hover > i {
	background-image:url("img/pencil-blue.png");
}

.region .actions-items > span.icon-floppy:hover > i {
	background-image:url("img/floppy-blue.png");
}

.region .actions-items > span.icon-trash:hover > i {
	background-image:url("img/trash-blue.png");
}

.block {
	position: relative;
	padding: 5px;
}

.content {
	position: relative;
	padding: 5px;
	border: 1px solid transparent;
}

.content .actions {
	position: absolute;
	right: -2px;
	top: 5px;
	width: 64px;
	opacity: 0;
	display: block;
}

.content .actions > span {
	margin-right: 8px;
	cursor: pointer;
	float: left;
}

.content .actions > span.icon-pencil > i {
	background-image:url("img/pencil.png");
	display: block;
	width: 12px;
	height: 12px;
}

.content .actions > span.icon-floppy > i {
	background-image:url("img/floppy.png");
	display: block;
	width: 14px;
	height: 14px;
}

.content .actions > span.icon-trash > i {
	background-image:url("img/trash.png");
	display: block;
	width: 13px;
	height: 14px;
}

.content .actions > span.icon-pencil:hover > i {
	background-image:url("img/pencil-blue.png");
}

.content .actions > span.icon-floppy:hover > i {
	background-image:url("img/floppy-blue.png");
}

.content .actions > span.icon-trash:hover > i {
	background-image:url("img/trash-blue.png");
}

.region-pad {
	margin-left: -25px;
	margin-top: -25px;
	padding: 25px;
}

/*REGION ONE*/

.region-one.region:hover {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
}

.region-one.region:hover > .actions {
	opacity: 1;
}

.region-one .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-one .content:hover .actions {
	opacity: 1;
}

/*REGION ONE*/

.region-pad:hover .region-two.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
}

.region-pad:hover .region-two.region > .actions {
	opacity: 1;
}

/*
.region-two .block:hover .content {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-two .block:hover .content .actions {
	display:block;
}
*/

.region-two .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
}

.region-two .content:hover .actions {
	opacity: 1;
}

/*REGION THREE*/

.region-pad .region-three.region {
	transition: 0s;
}

.region-pad:hover .region-three.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	transition-delay: 100ms;
}

.region-pad .region-three.region > .actions {
	transition: 0s;
}

.region-pad:hover .region-three.region > .actions {
	opacity: 1;
	transition-delay: 100ms;
}

.region-three .content {
	transition: 0s;
}

.region-three .content:hover {
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
	transition-delay: 100ms;
}

.region-three .content .actions {
	transition: 0s;
}

.region-three .content:hover .actions {
	opacity: 1;
	transition-delay: 100ms;
}

/*REGION FOUR*/
.region-pad .region-four.region {
	transition: 200ms;
}

.region-pad:hover .region-four.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	transition-delay: 100ms;
	transition: 200ms;
}

.region-pad .region-four.region > .actions {
	transition: 400ms;
	opacity: 0;
}

.region-pad:hover .region-four.region > .actions {
	transition: 200ms;
	opacity: 1;
}

.region-four .content {
	transition: 200ms;
	background-color: transparent;
	border: 1px solid transparent;
}

.region-four .content:hover {
	transition: 200ms;
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
	transition-delay: 100ms;
}

.region-four .content .actions {
	transition: 200ms;
}

.region-four .content:hover .actions {
	transition: 200ms;
	opacity: 1;
	transition-delay: 100ms;
}

/*REGION FIVE*/
.region-pad .region-five.region {
	transition: 200ms;
}

.region-pad:hover .region-five.region {
	background-color: #f0f8fc;
	border: 1px solid #a6c4de;
	transition-delay: 100ms;
	transition: 200ms;
}

.region-pad .region-five.region > .actions {
	transition: 400ms;
	opacity: 0;
}

.region-pad:hover .region-five.region > .actions {
	transition: 200ms;
	opacity: 1;
}

.region-five .content {
	transition: 200ms;
	background-color: transparent;
	border: 1px solid transparent;
}

.region-five .content:hover {
	transition: 200ms;
	border: 1px solid #4e8abe;
	background-color: #d0e2f0;
	transition-delay: 100ms;
}

.region-five .actions {
	left: 44%;
	right: auto;
}

.region-five .block .content .actions {
	transition: 200ms;
	left: 43%;
	top: 40%;
	background-color: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #cccccc;
	width: 73px;
}

.region-five .content:hover .actions {
	transition: 200ms;
	opacity: 1;
	transition-delay: 100ms;
}

.content .actions > div {
	float: left;
	padding: 5px;
	border-right: 1px solid #cccccc;
	cursor: pointer;
}

.content .actions > div:first-child {
	padding-top: 6px;
	padding-bottom: 6px;
}

.content .actions > div:last-child {
	border-right: none
}

.content .actions > div > span.icon-pencil > i {
	background-image:url("img/pencil.png");
	display: block;
	width: 12px;
	height: 12px;
}

.content .actions > div > span.icon-floppy > i {
	background-image:url("img/floppy.png");
	display: block;
	width: 14px;
	height: 14px;
}

.content .actions > div > span.icon-trash > i {
	background-image:url("img/trash.png");
	display: block;
	width: 13px;
	height: 14px;
}

.content .actions > div > span.icon-pencil:hover > i {
	background-image:url("img/pencil-blue.png");
}

.content .actions > div > span.icon-floppy:hover > i {
	background-image:url("img/floppy-blue.png");
}

.content .actions > div > span.icon-trash:hover > i {
	background-image:url("img/trash-blue.png");
}